
<!--Inputs-->
<div class="container" style="float:left; width:60%;">
    <div class="row">
      <div class="col-md-4">
            <span> String 1    : {{stringOne}}</span>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span>  String 2    : {{stringTwo}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span>  Match Score     : {{match}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span>  Mismatch Score    : {{mismatch}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span> Gap Penalty     : {{gap}}</span>
    </div>
  </div>


  Current Step : {{nextDataArrayIndex}}
  <input class="txt"id="match" type="number"  max={{max}} min="0" name="a" [(ngModel)]="requestedStep" placeholder="Request a step">
  <input class="btn" type="submit" [disabled]="request" [value]="reqBtn" (click)="goToRequest()" >
  <div clas="gridblock" style="overflow:auto; height: 500px;  width: 490px;" >
  <!--Grid-->
  <table class="table table-bordered" cellspacing="10">
    <tr *ngFor="let rowArray of gridArray">
      <td  *ngFor="let colData of rowArray"
           [ngClass]='{highlight : (colData.color), highlight2 : (colData.datacolor), highlight3 : (colData.refcolor)}'>
        {{colData.cellvalue}}

      </td>
    </tr>
  </table>
</div>



</div>

<div style="float:right; width: 40%">
  <br>
  <input type="submit" class="btn" [value]="reloadBtn" (click)="goBack()" >
  <br>
  <input type="submit" class="btn" [value]="clearBtn" (click)="clearall()" >
  <input type="submit" class="btn" [value]="backBtn" [disabled] = "noback" (click)="previousStep()" >
  <input type="submit" class="btn" [value]="stepBtn" [disabled] = "stepStop" (click)="nextStep()" >
  <input type="submit" class="btn" [value]="finalBtn" [disabled] = "finalStop"(click)="finalResult()">

  <!--Value Calculation-->
  <div *ngIf="!noback">
    <table class="table borderless" cellspacing="10">
      <tr>
        <th style="min-width: 100px;">Score From Above Cell</th>
        <td  style="min-width: 100px;">Score of Cell({{dataArray[nextDataArrayIndex-1].row + 1}}, {{dataArray[nextDataArrayIndex-1].col + 2}})+gap</td>
        <td>{{dataArray[nextDataArrayIndex-1].upScore}}</td>
      </tr>
      <tr >
        <th  style="min-width: 100px;">Score From Left Cell</th>
        <td style="min-width: 100px;">Score of Cell({{dataArray[nextDataArrayIndex-1].row + 2}}, {{dataArray[nextDataArrayIndex-1].col + 1}})+gap</td>
        <td>{{dataArray[nextDataArrayIndex-1].leftScore}}</td>
      </tr>
      <tr>
        <th  style="min-width: 100px;">Score From Diagonal Cell</th>
        <td  style="min-width: 100px;">Score of Cell({{dataArray[nextDataArrayIndex-1].row + 1}}, {{dataArray[nextDataArrayIndex-1].col + 1}})+match/mismatch</td>
        <td>{{dataArray[nextDataArrayIndex-1].diagonalScore}}</td>
      </tr>
      <tr>
        <th  style="min-width: 100px;">Max Score</th>
        <td  style="min-width: 100px;"></td>
        <td>{{dataArray[nextDataArrayIndex-1].score}}</td>
      </tr>
    </table>
  </div>

  <!--Final output-->
  <div *ngIf="final">
    <table class="table borderless" cellspacing="10">
      <tr>
        <th>S1:</th>
        <td *ngFor="let char of resSeq1Array" >{{char}}</td>
      </tr>
      <tr>
        <th>S2:</th>
        <td *ngFor="let char2 of resSeq2Array" >{{char2}}</td>
      </tr>
    </table>

  </div>
</div>


