<br>
<div class="container color-dark">
  <div class="col">
    <h3>Selected Algorithm: {{title|uppercase}}</h3>
  </div>
</div>
<br>
<div class="container color-light">
  <div class="col">
    <div class="example-container">
      <form>
        <input type="text" name="Stringone" [(ngModel)]=" Stringone" placeholder="String 1 (i.e CCATGTA)">
        <input type="text" name="Stringtwo" [(ngModel)]=" Stringtwo" placeholder="String 2 (i.e CAATGAA)">
        <mat-select placeholder="Score of match">
          <mat-option value="option1">1</mat-option>
          <mat-option value="option2">2</mat-option>
          <mat-option value="option3">3</mat-option>
        </mat-select>
        <mat-select placeholder="Score of mismatch">
          <mat-option value="option0">0</mat-option>
          <mat-option value="option-1">-1</mat-option>
          <mat-option value="option-2">-2</mat-option>
        </mat-select>
        <mat-select placeholder="Gap penalty">
          <mat-option value="option0">0</mat-option>
          <mat-option value="option-1">-1</mat-option>
          <mat-option value="option-2">-2</mat-option>
        </mat-select>
        <input type="submit" class="btn" [value]="btnText" (click)="showGrid()" >
      </form>

    </div>
  </div>

  <div >
    <h2 >Matrix</h2>

    <br>

    <table class="table table-bordered">
      <tr>
        <th>{{Null}}</th>
        <th>{{Null}}</th>
        <th *ngFor="let letter of String1array">{{letter}}</th>
      </tr>
      <tr>
        <th>{{Null}}</th>
        <th>{{Null}}</th>
        <th *ngFor="let letter of String1array">{{Null}}</th>
      </tr>
      <tr *ngFor="let letter2 of String2array">
        <th>{{letter2}}</th>
        <th>{{Null}}</th>
        <th *ngFor="let letter of String1array">{{Null}}</th>
      </tr>
    </table>
  </div>

</div>


