
<!--Grid-->
<h2 >Matrix</h2>
<br>
<input type="submit" class="btn" [value]="reloadBtn" (click)="goBack()" >
<br>
<input type="submit" class="btn" [value]="clearBtn" (click)="clearall()" >
<input type="submit" class="btn" [value]="backBtn" [disabled] = "noback" (click)="previousStep()" >
<input type="submit" class="btn" [value]="stepBtn" [disabled] = "stepStop" (click)="nextStep()" >
<input type="submit" class="btn" [value]="finalBtn" [disabled] = "finalStop"(click)="finalResult()">

<br>
Current Step : {{nextDataArrayIndex}}
<!--<mat-spinner align="center" [style.display]=" showSpinner ?'block':'none'"></mat-spinner>-->
<div style="overflow:auto; height: 500px;  width: 490px;" >
  <table class="table table-bordered" cellspacing="10">
    <tr *ngFor="let rowArray of gridArray">
      <td  *ngFor="let colData of rowArray"
           [ngClass]='{highlight : (colData.color), highlight2 : (colData.datacolor), highlight3 : (colData.refcolor)}'>
        {{colData.cellvalue}}
      </td>
    </tr>
  </table>
</div>

<!--Final output-->
<div *ngIf="final">
  <table class="table borderless" cellspacing="10">
    <tr>
      <td>S1:</td>
      <td *ngFor="let char of resSeq1Array" >{{char}}</td>
    </tr>
    <tr>
      <td>S2:</td>
      <td *ngFor="let char2 of resSeq2Array" >{{char2}}</td>
    </tr>
  </table>

</div>

