

<!--header-->
<div id="window2">
  <table boarder="0" cellpadding="0">
    <colgroup>
      <col width="250">
      <col width="750">
      <col width="250">
    </colgroup>
    <tbody>
    <tr>
      <th><br><pre></pre></th>
      <th>{{title|uppercase}}<br>
        <pre></pre></th>
      <th><br><pre></pre></th>
    </tr>
    </tbody>
  </table>
</div>

<!--Nav Bar-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Visual simulator for pairwise sequence alignments</span>

    <span class="example-spacer"></span>

    <button mat-button routerLink="">Home </button>
    <button mat-button routerLink="faq">FAQ</button>
  </mat-toolbar-row>
</mat-toolbar>

<!--Home-->



<router-outlet></router-outlet>

