.container{
  display: grid;
  grid-template-columns: 50% auto;

}

.col{
  padding: .4cm 1.3cm;
}

.color-dark{
  background:darkslategray;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 4px 9px 0px 1px;
  box-shadow: 6px 6px 5px #444;
  -moz-box-shadow: 6px 6px 5px #444;
  -webkit-box-shadow: 6px 6px 5px #444;
}

.color-light{
  background: lightgrey;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 4px 9px 0px 1px;
  box-shadow: 6px 6px 5px #444;
  -moz-box-shadow: 6px 6px 5px #444;
  -webkit-box-shadow: 6px 6px 5px #444;
}


.life-container{
  background: #3fa0e1;
  padding: .5cm;
  font-weight: bold;
  cursor:pointer;
}
h2{
  font-weight: bold;
  color: black;

}
h3{
  font-weight: bold;
  color: white;

}

.btn {
  border-radius:5px;
  background-color:darkslategray;
  color:white; padding:14px 20px;
  margin:8px 0; border:none; cursor: pointer;
  width:25%;

}
.btn:hover{opacity:0.6;}


.example-container {
  border-radius:5px;
  display: flex;
  flex-direction: column;
  background: white;
}

.example-container > * {
  width: 100%;
}
mat-grid-tile {
  background: white;
}
