<br>
<!--header-->
<div class="timeline-shell" style="width: 1010px;height: 300px;" >
  <div class="timeline-header" [style.width.px]="width" >
    <span class="header-blank"></span>

    <span class="header-item" *ngFor="let col of this.getMaxSequenceLength();let j=index;">
      <div class="item-label">{{j+1}}</div>
    </span>

  </div>
  <!--body-->
  <div class="timeline-body" style="height: 150px;" [style.width.px]="width">
    <div class="body-item" *ngFor="let gene of geneArray">
      <span class="body-details-cell">
        <div class="detail-title" >{{gene.id}}</div>
      </span>
      <span *ngFor="let char of gene.sequence.split('');let i=index;">
      <span class="body-graph-cell first-graph-cell" *ngIf="i==0">{{char}}</span>
      <span class="body-graph-cell" *ngIf="i!=0">{{char}}</span>
      </span>
    </div>
  </div>
</div>
